<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      @if (loading) {
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      }

      @if (error) {
      <div class="alert alert-danger">
        {{ error }}
      </div>
      }

      @if (!loading && !error) {
      <div class="d-flex">
        @for (round of getRounds(); track round) {
        <div class="d-flex justify-content-around flex-column">
          <h4 class="round-title">{{ getRoundDisplay(round) }} </h4>
          @for (matchGroup of getMatchGroupsForRound(round); track matchGroup) {
          @if (matchGroup.length > 0) {
          <div class="match-group mb-3 h-100">
            <div class="match-group-items">
              @for (match of matchGroup; track match.id) {
              <div class="match" style="width: 300px">
                <div class="match-border">
                  <div class="match-number">{{ match.matchNumberPosition }}</div>
                  <div
                    class="participant first {{match.isFirstParticipantBye || !match.firstParticipantId ? ' participant-not-clickable' : ' participant-clickable'}}"
                    (click)="onParticipantClick(match, true)"
                    [class.winner]="match.winnerParticipantId === match.firstParticipantId">
                    @if (match.isFirstParticipantBye) {
                    Bye
                    } @else if (!match.firstParticipantFullName && !match.firstParticipantCoachFullName) {
                    -
                    } @else {
                    {{ match.firstParticipantFullName }} ({{ match.firstParticipantCoachFullName }})
                    }
                  </div>
                  <div
                    class="participant second {{match.isSecondParticipantBye || !match.secondParticipantId ? 'participant-not-clickable' : 'participant-clickable'}}"
                    (click)="onParticipantClick(match, false)"
                    [class.winner]="match.winnerParticipantId === match.secondParticipantId">
                    @if (match.isSecondParticipantBye) {
                    Bye
                    } @else if (!match.secondParticipantFullName && !match.secondParticipantCoachFullName) {
                    -
                    } @else {
                    {{ match.secondParticipantFullName }} ({{ match.secondParticipantCoachFullName }})
                    }
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
          }
          }
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
