<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      @if (loading) {
        <div class="text-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      }

      @if (error) {
        <div class="alert alert-danger">
          {{ error }}
        </div>
      }

      @if (!loading && !error) {
        <div class="bracket-container">
          <div class="row">
            @for (round of getRounds(); track round) {
              <div class="col">
                <div class="round-container">
                  <h4 class="round-title">{{ getRoundDisplay(round) }}</h4>
                  <div class="matches-container">
                    @for (match of getMatchesForRound(round); track match.id) {
                      <div class="match-card mb-3">
                        <div class="card  border-0">
                          <div class="card-body">
                            <div class="participant border rounded-3 p-2 my-2 border-secondary" [class.winner]="match.winner?.id === match.first.id">
                              <span class="badge bg-primary text-white">B</span>
                              {{ getParticipantDisplay(match.first) }}
                            </div>
                            <div class="participant border rounded-3 p-2 my-2 border-secondary" [class.winner]="match.winner?.id === match.second.id">
                              <span class="badge bg-danger text-white">R</span>
                              {{ getParticipantDisplay(match.second) }}
                            </div>
                          </div>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>
